.side-nav-container {
  max-width: 128px;
  height: 100vh;

  background-color: grey;
}
.nav-item-group-container {
  padding: 8px;
  max-width: auto;
  max-height: 64px;
}

.lower-side-nav-block {
  margin-top: auto;
}

.side-nav-item-container {
  padding: 8px;
  max-width: auto;
  max-height: 64px;
}

.icon-container {
  width: auto;
  height: auto;
}

.icon {
  width: auto;
  height: auto;

  max-width: 48px;
  max-height: 48px;
}
