[run]
branch = True
source = src

[report]
fail_under = 90
show_missing = True
omit =
    */__init__.py
    src/api.py
    src/app.py
    src/common/upgrade_db.py
    src/main.py
    src/settings.py
    src/migrations/*