# APP METADATA
APP_VERSION=0.0.1-alpha

# DATABASE
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_DB_NAME=tracker

# PG ADMIN
PGADMIN_EMAIL=email@email.com
PGADMIN_PASSWORD=password

# CELERY
CELERY_BROKER_URL=redis://redis:6379/0
result_backend=redis://redis:6379/0

# MAINTENANCE
EXTERNAL_BACKUP_PATH=
BACKUP_PATH=
