# APP METADATA
APP_VERSION=
APP_PORT=

# DATABASE
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=db
DATABASE_PORT=

# PG ADMIN
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# CELERY
REDIS_URL=redis://redis:6379

# MAINTENANCE
EXTERNAL_BACKUP_PATH=
BACKUP_PATH=

# JWT - Secret must be 32 chars
JWT_SECRET=

# FRONTEND
NEXT_PUBLIC_NEXTAUTH_URL=

NEXTAUTH_URL=
NEXTAUTH_SECRET=
API_INTERNAL_URL=http://api:8000
