services:
  db:
    image: postgres:17 
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
        POSTGRES_USER: ${DATABASE_USERNAME}
        POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
        POSTGRES_PORT: ${DATABASE_PORT}
    env_file: .env
    attach: false

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - app-network
    attach: false

  tailscale:
    image: tailscale/tailscale:stable
    network_mode: service:nginx
    environment:
      - TS_EXTRA_ARGS=--hostname=day-by-day-tracker
      - TS_AUTHKEY=${TAILSCALE_API_KEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - tailscale_data:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
  
  nginx:
    image: nginx:1.29.4
    depends_on:
      - frontend
      - api
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network

  api:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - ${API_PORT}:${API_PORT}
    networks:
      - app-network
    volumes:
      - ./backend:/api/backend
    env_file: .env
    command: uvicorn backend.main:app --host ${API_HOST} --port ${API_PORT}

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    networks:
      - app-network
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: true
      VITE_BACKEND_HOST: ${API_HOST_NAME}
      VITE_BACKEND_PORT: ${API_PORT}
    env_file: .env


networks:
  app-network:


volumes:
  pgadmin-data:
  postgres_data:
  tailscale_data:
    driver: local
