services:
  db:
    image: postgres:17 
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
        POSTGRES_USER: ${DATABASE_USERNAME}
        POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
        POSTGRES_PORT: ${DATABASE_PORT}
    env_file: .env
    attach: false

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - app-network
    attach: false

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - api
    networks:
      - app-network

  api:
    build:
      context: .
      dockerfile: backend/Dockerfile
    expose:
      - "${API_PORT}"
    networks:
      - app-network
    volumes:
      - ./backend:/api/backend
    env_file: .env
    command: uvicorn backend.main:app --host ${API_HOST} --port ${API_PORT}

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    expose:
      - "${FRONTEND_PORT}"
    networks:
      - app-network
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: true
      VITE_BACKEND_HOST: ${API_HOST_NAME}
    env_file: .env


networks:
  app-network:
    driver: bridge


volumes:
  pgadmin-data:
  postgres_data:
