@use "colour_pallets";

body {
  color: var(--default-text-color);
  background-color: var(--base);
}

a {
  align-items: center;

  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

#content-wrapper {
  // background-color: lightgray;

  width: auto;
  max-width: 1440px;

  padding: 0px 64px;

  margin-left: auto;
  margin-right: auto;
}
