@use "colour_pallets";

#navigation-bar {
  background-color: var(--secondary);
  width: auto;
  height: auto;

  #content-wrapper {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 4px;
      overflow: hidden;

      position: relative;

      display: flex;

      width: auto;
      height: 48px;

      li {
        width: fit-content;
        height: auto;

        display: block;

        &.left {
          float: left;
        }

        &.right {
          margin-left: auto;
        }

        &.nav-toggle {
          display: none;
        }

        a {
          display: flex;
          font-size: 20px;

          padding: 8px 16px;

          height: 40px;
          max-height: 48px;

          color: var(--inverted-text-color);
        }

        @media (max-width: 576px) {
          &:not(:first-child) {
            display: none;
          }

          &.nav-toggle {
            position: absolute;
            right: 0;
            top: 4px;

            width: fit-content;

            display: block;
          }
        }
      }

      @media (max-width: 576px) {
        &.dropdown {
          height: auto;

          display: block;

          li {
            width: 100%;

            display: block;

            &.nav-toggle {
              position: absolute;
              right: 0;
              top: 4px;

              width: fit-content;

              display: block;
            }
          }
        }
      }
    }
  }
}
