@use "colour_pallets";

#navigation-bar {
  background-color: var(--secondary);
  width: auto;
  height: auto;

  #content-wrapper {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 4px;
      overflow: hidden;

      display: flex;

      width: auto;
      height: 48px;

      li {
        width: fit-content;
        height: auto;

        display: block;

        &.left {
          float: left;
        }

        &.right {
          margin-left: auto;
        }

        a {
          display: flex;
          font-size: 20px;

          padding: 8px 16px;

          height: 40px;
          max-height: 48px;

          color: var(--inverted-text-color);
        }

        @media (max-width: 576px) {
          &:not(:first-child) {
            display: none;
          }
        }
      }

      @media (max-width: 576px) {
        &.dropdown {
          height: auto;

          display: block;

          li {
            width: 100%;

            display: block;
          }
        }
      }
    }

    // ul.nav-left-side {
    //   float: left;

    //   li {
    //     float: left;
    //   }
    // }

    // ul.nav-right-side {
    //   float: right;

    //   li {
    //     float: right;
    //   }
    // }
  }
}
